In [1]:
import pandas as pd

geodair69test = pd.read_csv(r"C:\Users\sophi\OneDrive\Documentos\LyonData formação\#Projetos de Grupo\P3 wildAir\p3_WildAir\DECADQ_69_previous-1950-2023.csv", sep=";")

geodair69test.head(3)

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMM,NUM_DECADE,RR,QRR,NBRR,...,QNEIGETOTM,NEIGETOTAB,QNEIGETOTAB,NEIGETOTABDAT,NBJNEIGETOT1,NBJNEIGETOT10,NBJNEIGETOT30,NBJGREL,NBJORAG,NBJBROU
0,69006001,AMPLEPUIS BOURG,45.971667,4.331667,435,196303,1,7.6,1.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,69006001,AMPLEPUIS BOURG,45.971667,4.331667,435,196303,2,33.9,1.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,69006001,AMPLEPUIS BOURG,45.971667,4.331667,435,196303,3,33.9,1.0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
geodair69test.shape

(122948, 158)