## Base de Données precipitation et neige 2023 meteo du Copernicus: Lyon, France

* Source: https://cds.climate.copernicus.eu/datasets/reanalysis-era5-single-levels?tab=download
* Doc: https://confluence.ecmwf.int/display/CKB/ERA5%3A+data+documentation#ERA5:datadocumentation-Table2

In [1]:
import xarray as xr

# Substitui 'teu_ficheiro.nc' pelo caminho para o ficheiro NetCDF que descarregaste
file_path = (r"C:\Users\sophi\P3 base de donnes\copernicus_lyon2023\data_stream-oper_stepType-instant.nc")

# Carregar o ficheiro NetCDF
data_instant = xr.open_dataset(file_path)

# Mostrar as variáveis e informações do ficheiro
#print(data_instant.head())

# # Ver o conteúdo de uma variável específica
# print(data["2m_temperature"])  # Substituir pelo nome da variável no ficheiro

# # Salvar os dados de uma variável em formato CSV (se necessário)
# data["2m_temperature"].to_dataframe().to_csv("2m_temperature.csv")

# Para explorar o dataset interativamente, converte para Pandas
df_instant = data_instant.to_dataframe()
display(df_instant.sample(10))

,,,number,expver,u10,v10,t2m,sp
valid_time,latitude,longitude,,,,,,
2023-04-05 06:00:00,46.75,6.00,0,0001,-1.927887,-0.694092,271.582458,91943.2500
2023-09-11 14:00:00,47.00,5.25,0,0001,0.874969,2.598145,307.309692,98501.1250
2023-12-05 14:00:00,46.25,5.50,0,0001,0.654037,2.021133,276.669556,94877.1250
2023-10-06 22:00:00,46.00,6.00,0,0001,-0.048706,0.002197,285.658203,94691.1875
2023-03-04 06:00:00,46.75,6.00,0,0001,-2.262894,-0.676285,274.407349,92087.5625
2023-04-09 06:00:00,47.00,5.50,0,0001,-1.624390,-1.576111,277.409973,99366.0625
2023-04-06 14:00:00,46.00,5.00,0,0001,0.188889,-0.324234,287.695679,98612.6250
2023-07-03 14:00:00,46.50,5.00,0,0001,2.485123,0.833115,297.681396,99188.7500
2023-09-16 06:00:00,46.00,6.00,0,0001,-1.392136,-0.148529,288.844482,93453.8125
2023-02-25 22:00:00,46.25,5.00,0,0001,0.213440,-5.590027,277.081787,97637.5000

In [2]:
df_instant.shape

(27375, 6)

In [4]:
dfcopernicus_insta2023 = df_instant

In [4]:
dfcopernicus_insta2023.sample(10)

,,,number,expver,u10,v10,t2m,sp
valid_time,latitude,longitude,,,,,,
2023-01-06 06:00:00,46.50,5.50,0,0001,-0.262848,0.481262,281.458862,96882.6250
2023-01-16 14:00:00,46.50,5.50,0,0001,3.253860,4.729507,277.801636,93797.0000
2023-12-18 14:00:00,46.75,5.25,0,0001,0.580231,0.447754,278.197998,101191.3750
2023-06-04 14:00:00,47.00,6.00,0,0001,-2.343979,-1.080765,296.115723,95034.2500
2023-07-16 22:00:00,46.75,5.00,0,0001,0.753677,-0.279129,292.921265,99400.8750
2023-04-06 14:00:00,46.75,5.50,0,0001,1.447678,0.552719,286.777710,98328.6250
2023-07-03 22:00:00,47.00,5.50,0,0001,0.376846,2.362686,291.265747,98948.1875
2023-07-26 22:00:00,46.50,5.50,0,0001,-0.703491,0.697739,285.885376,96196.8750
2023-04-23 06:00:00,46.50,5.75,0,0001,-1.133743,1.805771,282.535461,92925.6875
2023-09-01 14:00:00,46.25,5.25,0,0001,1.027878,3.142975,301.868042,98402.3750

In [5]:
dfcopernicus_insta2023.to_csv("dfcopinst_lyon23.csv")