## Base de Données accum 2024 meteo du Copernicus: Lyon, France

In [1]:
import os

file_path = r"C:\Users\sophi\P3 base de donnes\copernicus_lyon2024\data_stream-oper_stepType-accum.nc"

if os.path.exists(file_path):
    print("Fichier trouvé!")
else:
    print("Fichier pas trouvé. Verifie le chemin.")

Fichier trouvé!

In [2]:
import xarray as xr

# Substitui 'teu_ficheiro.nc' pelo caminho para o ficheiro NetCDF que descarregaste
file_path = (r"C:\Users\sophi\P3 base de donnes\copernicus_lyon2024\data_stream-oper_stepType-accum.nc")

# Carregar o ficheiro NetCDF
data_accum = xr.open_dataset(file_path)

# Mostrar as variáveis e informações do ficheiro
# print(data_accum.head())

# # Ver o conteúdo de uma variável específica
# print(data["2m_temperature"])  # Substituir pelo nome da variável no ficheiro

# # Salvar os dados de uma variável em formato CSV (se necessário)
# data["2m_temperature"].to_dataframe().to_csv("2m_temperature.csv")

# Para explorar o dataset interativamente, converte para Pandas
df_accum = data_accum.to_dataframe()

In [3]:
df_accum.shape

(27450, 4)

In [3]:
display(df_accum.sample(10))

                                        number expver        tp        sf
valid_time          latitude longitude
2024-05-03 06:00:00 46.75    5.00            0   0001  0.000000  0.000000
2024-07-11 06:00:00 46.75    5.50            0   0001  0.000000  0.000000
2024-08-22 14:00:00 46.75    5.75            0   0001  0.000000  0.000000
2024-07-21 06:00:00 46.00    5.25            0   0001  0.000024  0.000000
2024-01-15 22:00:00 46.00    5.50            0   0001  0.000000  0.000000
2024-02-03 22:00:00 46.50    5.00            0   0001  0.000006  0.000000
2024-04-13 22:00:00 46.00    5.50            0   0001  0.000000  0.000000
2024-05-16 06:00:00 46.75    5.50            0   0001  0.000430  0.000000
2024-12-29 22:00:00 46.75    5.50            0   0005  0.000007  0.000005
2024-03-24 06:00:00 46.25    5.50            0   0001  0.000577  0.000420

In [4]:
df_accum.to_csv("df_acumm24.csv")